
body {
    background-color: #f8f9fa;
}

.main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.sidebar .sidebar-content {
    background-color: #f1f3f4;
}


h1, h2, h3 {
    color: #333;
}

.stMarkdown {
    font-size: 16px;
    color: #444;
}
